body {
  background-color: blueviolet;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blueviolet;
}
.quiz-box {
  width: 20%;
  height: 450px;
  background-color: white;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
}
ul {
  list-style: none;
}
.btn:disabled {
  background: 'transparent';
  color: black;
}
.btn {
  height: 45px;
  width: 90%;
  text-align: left;
  border-radius: 7px;
  margin-left: -10px;
  border: 2px solid blueviolet;
  font-size: 1rem;
  color: blueviolet;
}
.image-logo {
  display: block;
  margin-left: 850px;
  margin-right: auto;
  margin-bottom: -70px;
  width: 10%;
}
.quiz-heading {
  text-align: center;
  color: white;
  margin-bottom: -10px;
}
.capital-name {
  padding-top: 28px;
  margin-left: 28px;
  font-size: 1rem;
}
.next-btn {
  background-color: orange;
  margin-left: 200px;
  border: none;
  width: 30%;
  height: 50px;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
}
.trophy-img {
  margin-top: 80px;
  margin-left: 30%;
}
.result {
  margin-left: 30%;
}
.text-para {
  margin-left: 20%;
}
.tryagain-btn {
  margin-left: 50px;
  width: 60%;
  height: 50px;
  border-radius: 10px;
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blueviolet;
  background-color: transparent;
  border: 2px solid blueviolet;
}
.flag-ques-img {
  display: block;
  width: 30%;
  height: 30%;
}
.tick-cross-span {
  /* display: inline; */
  margin-left: 80%;
}
/***********Media Queries:(Medium devices**************/
@media screen and (max-width: 1024px) {
  .quiz-box {
    width: 40%;
    height: 450px;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    border-radius: 15px;
  }
  .quiz-heading {
    margin-bottom: 0px;
    font-size: 1.5rem;
  }
  .trophy-img {
    margin-top: 80px;
    margin-left: 35%;
  }
  .result {
    margin-left: 30%;
  }
  .text-para {
    margin-left: 20%;
  }
  .image-logo {
    display: inline-block;
    margin-left: 500px;
    margin-bottom: -80px;
    width: 15%;
  }
}

/********************For Smaller devices*/
@media screen and (max-width: 600px) {
  .quiz-box {
    width: 70%;
    height: 450px;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    border-radius: 15px;
  }
  .quiz-heading {
    margin-bottom: 0px;
    font-size: 1.5rem;
  }
  .next-btn {
    background-color: orange;
    margin-left: 160px;
    border: none;
    width: 30%;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
  }
  .image-logo {
    display: inline-block;
    margin-left: 260px;
    margin-bottom: -70px;
    width: 30%;
  }
  .trophy-img {
    margin-top: 80px;
    margin-left: 30%;
  }
  .result {
    margin-left: 20%;
  }
  .text-para {
    margin-left: 10%;
  }
}
